

page-register {
    h4 {
        color: #0093e9;
        font-weight: 300;
        padding-right: 20px;
        padding-left: 20px;
        margin-bottom: 0px;
    }

    form {
        padding: 0px 27px 10px 27px;

        ion-list {
            ion-item {
                padding: 0px !important;

                ion-input {
                    color: #4e4e4e;
                    font-size: 14px;
                    
                    input {
                        margin-left: 0px !important;
                    }
                }

                ion-label {
                    color: #999;
                    font-size: 14px;
                }
            }
        }

        .btn-custom {
            padding: 15px 50px;
            height: auto;
            font-size: 14px;
            font-weight: 300;
            border-radius: 20px;
            background: #0093e9;
            box-shadow: 0px 10px 20px 0px rgba(0,147,233,0.4);
        }
    }
}
