<ion-header mode="md">
  <ion-navbar mode="md">
    <ion-title>Discover</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="daily-insights" (click)="openDailyInsights()">
    <h1>Daily <br/> Insights</h1>
  </ion-card>

  <div class="book-slider today">
    <ion-row>
      <ion-col col-8>
        <h3>Today for you</h3>
      </ion-col>
      <ion-col col-4>
        <p (click)="openTodayForYou()">See all <ion-icon name="ios-arrow-forward"></ion-icon></p>
      </ion-col>
    </ion-row>
    <ion-slides slidesPerView="2">
      <ion-slide *ngFor="let book of books">
        <ion-card (click)="getBookDetail()">
          <img src="{{book.cover}}" alt="Book Cover Image">
          <h4>{{book.author}}</h4>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="book-slider">
    <ion-row>
      <ion-col col-8>
        <h3>New Releases</h3>
      </ion-col>
      <ion-col col-4>
        <p (click)="openNewReleases()">See all <ion-icon name="ios-arrow-forward"></ion-icon></p>
      </ion-col>
    </ion-row>
    <ion-slides slidesPerView="2">
      <ion-slide *ngFor="let book of books">
        <ion-card (click)="getBookDetail()">
          <img src="{{book.cover}}" alt="Book Cover Image">
          <h4>{{book.author}}</h4>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="book-slider collection">
    <ion-row>
      <ion-col>
        <h3>Collections</h3>
      </ion-col>
    </ion-row>
    <ion-slides>
      <ion-slide *ngFor="let collection of collections">
        <ion-card>
          <img src="{{collection.image}}" alt="Book Cover Image">
          <span>{{collection.name}}</span>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="book-slider">
    <ion-row>
      <ion-col col-8>
        <h3>Coming Soon</h3>
      </ion-col>
      <ion-col col-4>
        <p (click)="openComingSoon()">See all <ion-icon name="ios-arrow-forward"></ion-icon></p>
      </ion-col>
    </ion-row>
    <ion-slides slidesPerView="2">
      <ion-slide *ngFor="let book of books">
        <ion-card (click)="getBookDetail()">
          <img src="{{book.cover}}" alt="Book Cover Image">
          <h4>{{book.author}}</h4>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="book-slider">
    <ion-row>
      <ion-col col-8>
        <h3>All Books</h3>
      </ion-col>
      <ion-col col-4>
        <p (click)="openAllBooks()">See all <ion-icon name="ios-arrow-forward"></ion-icon></p>
      </ion-col>
    </ion-row>
    <ion-slides slidesPerView="2">
      <ion-slide *ngFor="let book of books">
        <ion-card (click)="getBookDetail()">
          <img src="{{book.cover}}" alt="Book Cover Image">
          <h4>{{book.author}}</h4>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="categories">
    <ion-row>
      <ion-col>
        <h3>Categories</h3>
      </ion-col>
    </ion-row>
    <ion-slides slidesPerView="3">
      <ion-slide *ngFor="let category of categories">
        <ion-card>
          <h4>{{category.name}}</h4>
          <ion-icon name="{{category.image}}"></ion-icon>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
